.mainContainer{
    display: flex;
}

.containerLogo{
    display: flex;
}

.logo{
    width: 30px;
    height: 30px;
    background-color: black;
    margin: 3px;
}

.navContainer{
    background-color: blue;
}